@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');

.land-content {
  background-color: rgb(45, 51, 59);
  color: rgb(238, 238, 238);
}

.land-layout {
  min-height: 100vh !important;
  font-family: 'Plus Jakarta Sans', sans-serif;
}